#header {
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#header__title {
    margin-left: 20px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: .5rem;
}

#header__title h1 {
    font-size: 1rem;
    margin: auto 0;
}

#header__logo {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#header__menu {
    width: 35rem;
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
}

.button__logout {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    outline: none;
}
#header__links {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}
#header__links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    position : relative;
}

#header__links a:hover {
    color: rgb(170, 167, 167);
}

#header__links a.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

#header__menu p, #header__menu form {
    margin: auto 0;
}

#header__menu form button:hover {
    color: rgb(170, 167, 167);
}