#header {
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#header__title {
    margin-left: 20px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: .5rem;
}

#header__title h1 {
    margin: auto 0;
}

#header__logo {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#header__menu {
    width: 25rem;
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
}

.button__logout {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    outline: none;
}