.dashboard .card {
    width: 700px;
}

#btnSearch {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all .3s;
    background-color: rgb(80, 121, 255);
}

#btnSearch:hover {
    transform: translateY(-2px);
    box-shadow: 1px 3px -2px black;
    background-color: rgb(50, 98, 255);
}